.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-text-1 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 319px;
  height: 300px;
  margin: -748px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 45px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -858px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: -830px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-image-1 {
    width: 192px;
    height: 221px;
    margin-top: -1002px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1444px;
}

.u-section-2 .u-image-1 {
  width: 978px;
  height: 1428px;
  margin: 0 auto 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1389px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 1373px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 1052px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 789px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-2 .u-image-1 {
    height: 497px;
    margin-top: 380px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 412px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 203px;
  height: 76px;
  margin: 20px auto 0 367px;
}

.u-section-3 .u-image-2 {
  width: 349px;
  height: 75px;
  margin: -76px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 67px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}