.u-section-1 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-1 .u-text-1 {
  margin: 24px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 319px;
  height: 300px;
  margin: -728px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -858px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: -830px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1698px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-image-1 {
    width: 192px;
    height: 221px;
    margin-top: -1012px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
  }
}.u-section-2 .u-image-1 {
  min-height: 640px;
  background-image: url("../images/Screenshot2024-01-08151532.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 202px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 470px;
}

.u-section-3 .u-text-1 {
  margin: 58px 0 0;
}

.u-section-3 .u-image-1 {
  width: 203px;
  height: 76px;
  margin: 20px auto 0 367px;
}

.u-section-3 .u-image-2 {
  width: 349px;
  height: 75px;
  margin: -76px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 134px;
    margin-left: 67px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -186px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 145px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 73px;
    margin-top: -185px;
    margin-bottom: 162px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 450px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 7px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 184px;
  height: 60px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 225px;
  height: 225px;
  margin: -128px auto 0 214px;
}

.u-section-4 .u-image-3 {
  width: 300px;
  height: 114px;
  margin: -169px 384px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-3 {
    margin-right: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-3 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 51px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 46px;
    margin-bottom: 51px;
  }
}