.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 184px;
  height: 60px;
  margin: 62px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 225px;
  height: 225px;
  margin: -122px auto 0 241px;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 114px;
  margin: -170px 357px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -169px;
    margin-right: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-3 {
    margin: 0 auto 20px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-3 {
    margin-bottom: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-image-2 {
    width: 195px;
    height: 195px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 239px;
    height: 91px;
    margin-top: 41px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 807px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-weight: 700;
  margin: 13px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 13px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 60px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }
}